# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode/launch.json
.vscode/extensions.json
.vscode/c_cpp_properties.json
.pio/build/project.checksum
.pio/build/nodemcuv2/ld/local.eagle.app.v6.common.ld
.pio/build/nodemcuv2/firmware.elf
.pio/build/nodemcuv2/firmware.bin
.pio/build/nodemcuv2/.sconsign39.dblite
.pio/libdeps/nodemcuv2/LiquidCrystal/src/LiquidCrystal.h
.pio/libdeps/nodemcuv2/LiquidCrystal/src/LiquidCrystal.cpp
.pio/libdeps/nodemcuv2/LiquidCrystal/README.adoc
.pio/libdeps/nodemcuv2/LiquidCrystal/library.properties
.pio/libdeps/nodemcuv2/LiquidCrystal/keywords.txt
.pio/libdeps/nodemcuv2/LiquidCrystal/examples/TextDirection/TextDirection.ino
.pio/libdeps/nodemcuv2/LiquidCrystal/examples/setCursor/setCursor.ino
.pio/libdeps/nodemcuv2/LiquidCrystal/examples/SerialDisplay/SerialDisplay.ino
.pio/libdeps/nodemcuv2/LiquidCrystal/examples/Scroll/Scroll.ino
.pio/libdeps/nodemcuv2/LiquidCrystal/examples/HelloWorld/HelloWorld.ino
.pio/libdeps/nodemcuv2/LiquidCrystal/examples/Display/Display.ino
.pio/libdeps/nodemcuv2/LiquidCrystal/examples/CustomCharacter/CustomCharacter.ino
.pio/libdeps/nodemcuv2/LiquidCrystal/examples/Cursor/Cursor.ino
.pio/libdeps/nodemcuv2/LiquidCrystal/examples/Blink/Blink.ino
.pio/libdeps/nodemcuv2/LiquidCrystal/examples/Autoscroll/Autoscroll.ino
.pio/libdeps/nodemcuv2/LiquidCrystal/.piopm
.pio/build/nodemcuv2/idedata.json
